.print-only {
  display: none;
}

.report-history-invoice {
  display: none;
}

@page {
  size: a5;
  margin-top: 12%;
  margin-left: 4%;
  margin-right: 4%;
}

@media print {
  .no-print {
    display: none;
  }

  .print-only {
    display: block;
    width: 100%;
    align-items: center;
  }

  td {
    border: 1px solid black;
    font-size: 14px;
    word-wrap: break-word;
  }

  table {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    background-color: #fff;
    border-collapse: collapse;
  }
}