.print-only {
    display: none;
}

.report-history-invoice {
    display: none;
}

@media print {
    .no-print {
        display: none;
    }

    .print-only {
        display: inline-block;
        width: 48%;
    }

    td {
        border: 1px solid black;
        min-height: 150px;
        max-width: 136px;
        font-size: 14px;
        word-wrap: break-word;
    }

    table {
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 10px;
        margin-bottom: auto;
        background-color: #fff;
        width: 350px;
        height: 180px;
        border-collapse: collapse;
    }
}