thead[class*="ant-table-thead"] th {
  background-color: #0454a2 !important;
  color: white !important;
}
thead td[class*="ant-table-selection-column"] {
  background-color: #0454a2 !important;
  color: white !important;
}
thead td[class*="ant-table-cell ant-table-cell-scrollbar"] {
  background-color: #0454a2 !important;
}
.table-row-light {
  background-color: #ffffff;
}
.table-row-dark {
  background-color: #fbfbfb;
}
.table-row-grey {
  background-color: #ebebeb;
}
.table-row-red {
  background-color: #ec1414;
  color: white;
}
.table-row-pink {
  background-color: #e63b82;
  color: white;
}
.table-row-green {
  background-color: #9eff7c;
}
.table-row-pink {
  background-color: rgb(199, 112, 127);
}
.table-row-blue {
  background-color: #2878f0;
  color: white;
}
.table-row-yellow {
  background-color: #fdfdb4;
}

thead th[class*="yellow"] {
  background-color: #f7ac27 !important;
}

thead th[class*="red"] {
  background-color: #fb4b50 !important;
}
// .ant-table-wrapper .ant-table-tbody > tr.ant-table-row:hover > td {
//   background-color: unset;
//   cursor: pointer;
// }
.ant-table-wrapper.selectable-table
  .ant-table-tbody
  > tr.ant-table-row:hover
  > td {
  background-color: unset;
  cursor: pointer;
}
.ant-table-wrapper.custom-table .ant-table {
  border-radius: 8px !important;
}
.ant-table-wrapper.custom-table .ant-table-tbody > tr.ant-table-row:hover > td {
  border-radius: 8px;
}
.ant-table-wrapper.custom-table .ant-table-tbody > tr > td {
  border-bottom: 0;
}
.ant-table-wrapper.custom-table
  .ant-table.ant-table-bordered
  > .ant-table-container {
  border-inline-start: 0;
}
.ant-table-wrapper.custom-table td:last-child {
  border-inline-end: 0 !important;
}

.blink {
  animation: blink 1.5s infinite linear;
}
@keyframes blink {
  0%,
  100% {
    background: #fcfc82;
  }
  50% {
    background: #fcfc9b;
  }
}
@-webkit-keyframes blink {
  0%,
  100% {
    background: #fcfc82;
  }
  50% {
    background: #fcfc9b;
  }
}
.no-hover .ant-table-cell-row-hover {
  background-color: transparent !important;
}
.ant-picker-dropdown {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
}
