thead[class*="ant-table-thead"] th, thead[class*="ant-table-thead"]  td {
  background-color: #0454a2 !important;
  color: white !important;
}

thead td[class*="ant-table-selection-column"] {
  background-color: #0454a2 !important;
  color: white !important;
}

thead td[class*="ant-table-cell ant-table-cell-scrollbar"] {
  background-color: #0454a2 !important;
}

.table-row-light, .table-row-light td, .table-row-light div {
  background-color: #ffffff !important;
}

.table-row-dark, .table-row-dark td, .table-row-dark div {
  background-color: #fbfbfb !important;
}

.table-row-grey, .table-row-grey td, .table-row-grey div {
  background-color: #ebebeb !important;
}

.table-row-red, .table-row-red td, .table-row-red div {
  background-color: #ec1414 !important;
  color: white !important;
}

.table-row-pink, .table-row-pink td, .table-row-pink div {
  background-color: #e63b82 !important;
  color: white !important;
}

.table-row-green, .table-row-green td, .table-row-green div {
  background-color: #9eff7c !important;
}

.table-row-pink, .table-row-pink td, .table-row-pink div {
  background-color: rgb(199, 112, 127) !important;
}

.table-row-blue, .table-row-blue td, .table-row-blue div {
  background-color: #2878f0 !important;
  color: white !important;
}

.table-row-light-blue, .table-row-light-blue td, .table-row-light-blue div {
  background-color: #bae0ff !important;
  // color: white;
}

.table-row-yellow, .table-row-yellow td, .table-row-yellow div {
  background-color: #fdfdb4 !important;
}

thead th[class*="yellow"] {
  background-color: #f7ac27 !important;
}

thead th[class*="red"] {
  background-color: #f92121de !important;
}

// .ant-table-wrapper .ant-table-tbody > tr.ant-table-row:hover > td {
//   background-color: unset;
//   cursor: pointer;
// }
.ant-table-wrapper.selectable-table .ant-table-tbody>tr.ant-table-row:hover>td {
  background-color: unset;
  cursor: pointer;
}

.ant-table-wrapper.custom-table .ant-table {
  border-radius: 8px !important;
}

.ant-table-wrapper.custom-table .ant-table-tbody>tr.ant-table-row:hover>td {
  border-radius: 8px;
}

.ant-table-wrapper.custom-table .ant-table-tbody>tr>td {
  border-bottom: 0;
}

.ant-table-wrapper.custom-table .ant-table.ant-table-bordered>.ant-table-container {
  border-inline-start: 0;
}

.ant-table-wrapper.custom-table td:last-child {
  border-inline-end: 0 !important;
}

.blink {
  animation: blink 1.5s infinite linear;
}

@keyframes blink {

  0%,
  100% {
    background: #fcfc82;
  }

  50% {
    background: #dede04;
  }
}

@-webkit-keyframes blink {

  0%,
  100% {
    background: #fcfc82;
  }

  50% {
    background: #dede04;
  }
}

.no-hover .ant-table-cell-row-hover {
  background-color: white !important;
}

// .ant-picker-dropdown {
//   position: fixed !important;
//   top: 50% !important;
//   left: 50% !important;
//   transform: translate(-50%, -50%);
// }
.table-row-selected {
  background-color: limegreen;
}

.white-bg-input {
  background-color: white !important;
  .ant-input-number-input {
    background-color: white !important;
  }
}