.manufacture-tabs .ant-tabs-content-holder{
    background-color: #fff;
    padding: 8px;
}
.manufacture-tabs .ant-tabs-nav{
    margin: 0;
}
.manufacture-tabs .ant-tabs-nav-list {
    width: 100%;
}

.manufacture-tabs .ant-tabs-tab {
    width: 100%;
    justify-content: center;
}

.manufacture-tabs .ant-tabs-tab:not(.ant-tabs-tab-active) {
    opacity: 0.5;
}

.manufacture-tabs .ant-tabs-nav-operations {
    display: none !important;
}