.print-only {
  display: none;
}

.report-history-invoice {
  display: none;
}

@media print {
  .no-print {
    display: none;
  }

  .print-only {
    display: block;
    width: 100%;
    align-items: center;
  }

  td {
    border: 1px solid black;
    max-width: 136px;
    font-size: 14px;
    word-wrap: break-word;
  }

  table {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 20px;
    margin-bottom: auto;
    background-color: #fff;
    width: 350px;
    height: 283px;
    border-collapse: collapse;
  }
}