html,
body,
#root {
  margin: 0;
  height: max-content;
  background-color: #e3eaf0;
}

.fixed-header {
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.content-below-header {
  margin-top: 60px;
}