html,
body,
#root {
  margin: 0;
  height: max-content;
  background-color: #e3eaf0;
}

// .fixed-header {
//   position: fixed;
//   width: 100%;
//   z-index: 1000;
// }

// .content-below-header {
//   margin-top: 60px;
// }
#layout-wrapper section.ant-layout.fixed-header{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
#layout-wrapper .content-below-header{
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
}